## Data test train source split

In [35]:
# storing file names
import numpy as np 
import pandas as pd 

#src_class = input('BH/NS : ')
src_class = "PULSAR"
frac = 1

data = pd.read_csv('../source_list/'+src_class+'_data_clean_source_list.csv')
#data =  data.sample(frac=1)
#frac_no = int(len(data)*frac)
train_data = data.copy()
#test_data = data.iloc[frac_no:]
train_data.to_csv('../source_list/final_list/'+src_class+'_train.csv')
#display(train_data)
import os
ctg = src_class

def hr():
    print('----------------------------------------------------------------------------')

# Copy sources data to respective folders

data = pd.read_csv('../source_list/final_list/'+ctg+'_train.csv')

In [36]:
data['SRC_ID']

0      PL0001
1      PL0002
2      PL0003
3      PL0004
4      PL0005
        ...
133    PL0134
134    PL0135
135    PL0136
136    PL0137
137    PL0138
Name: SRC_ID, Length: 138, dtype: object

In [38]:
ch_names = [di.replace(' ' ,'_')[:-1] for di in data['B_NAME']]
a_names = [di.replace(' ' ,'_')[:-1]+'.csv' for di in data['A_NAME']]
src_id = data['SRC_ID']
#print(src_id)
os.system('rm -r '+ctg+'_data/train/')
os.system('mkdir '+ctg+'_data/train/')
for c,s ,a in zip(ch_names , src_id , a_names):
    try:
        src = '../data/all_data/'+ctg+'_data_all/'+c+'.csv' 
        ## adding source_id in file names
        dest = ctg+'_data/train/'+ s+'-'+c+'#'+a 
        #print('src ..' , src)
        #print('Copying' , dest)
        os.system('cp '+src+' '+dest)
    except:
        hr()
        print('check source : ' , c )
        hr()

hr()
print('TRAINING DATA STORED')

----------------------------------------------------------------------------
TRAINING DATA STORED

## Append all data in one file

In [39]:
from ipywidgets import IntProgress
from IPython.display import display

src_class = src_class

def hr():
    print('_______________________________________________________________________________________')


def to_float(d):
    temp = []
    for di in d:
        
        try:
            temp.append(float(di))
        except Exception as e:
            print(e)
            print('NaN detected resetting value')
            temp.append(np.NAN)
    temp = np.asarray(temp)
    return temp

In [40]:
set_type = 'train'
os.system('ls '+src_class+'_data/'+set_type+'/ > file_list')
file_list = pd.read_csv('file_list' , names=['names'])['names']
data = pd.DataFrame()

for file in file_list:
    data_temp =  pd.read_csv(src_class+'_data/'+set_type+'/'+file)
    ## extracting source_id from file names 
    src_id_name = file[:6]
    src_id = [src_id_name]*len(data_temp)
    src_id = np.asarray(src_id)
    data_temp.insert(0 ,'src_id' , src_id)
    src_n_name = file[29:-4].replace('_' , ' ')
    src_n = [src_n_name]*len(data_temp)
    src_n = np.asarray(src_n)
    data_temp.insert(0 ,'src_n' , src_n)
    data =  data.append(data_temp)
data = data.replace('      NaN' , np.nan).reset_index(drop=True)
data.to_csv('../raw_data/'+src_class+'_'+set_type+'.csv')
data.describe()

,index,sepn,ra,dec,obsid,obi,gti_start,gti_stop,gti_elapse,gti_mjd_obs,...,var_inter_index_h,var_inter_index_m,var_inter_index_s,var_inter_index_u,acis_num,acis_hetg_num,acis_letg_num,hrc_num,hrc_hetg_num,hrc_letg_num
count,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,5.290000e+02,5.290000e+02,529.000000,529.000000,...,443.000000,443.000000,429.000000,311.000000,529.000000,529.0,529.0,529.000000,529.0,529.0
mean,14.827977,0.020245,205.419526,-22.480821,8763.028355,0.258979,3.082405e+08,3.082725e+08,31996.357261,54381.598659,...,6.455982,5.607223,4.825175,5.810289,24.383743,0.0,0.0,3.179584,0.0,0.0
std,21.634855,0.134064,94.705231,36.772059,5168.543246,0.542720,1.479375e+08,1.479440e+08,28498.186150,1712.239187,...,2.673776,2.680437,3.372472,2.652939,26.890882,0.0,0.0,4.985574,0.0,0.0
min,0.000000,0.000000,1.756555,-72.192700,126.000000,0.000000,6.636522e+07,6.638439e+07,1651.200000,51582.116030,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.0,0.0
25%,1.000000,0.000000,98.475900,-50.920230,3901.000000,0.000000,1.702587e+08,1.702777e+08,10071.506000,52784.586700,...,6.000000,4.000000,0.000000,5.500000,3.000000,0.0,0.0,0.000000,0.0,0.0
50%,4.000000,0.000000,266.122500,-29.007800,8221.000000,0.000000,2.982454e+08,2.983165e+08,23186.250000,54265.914280,...,8.000000,6.000000,5.000000,6.000000,10.000000,0.0,0.0,1.000000,0.0,0.0
75%,20.000000,0.003074,278.389900,-8.765580,13747.000000,0.000000,4.523510e+08,4.523712e+08,44969.220000,56049.543430,...,8.000000,8.000000,8.000000,8.000000,36.000000,0.0,0.0,4.000000,0.0,0.0
max,87.000000,0.976530,354.911400,79.367700,17562.000000,3.000000,5.361096e+08,5.361516e+08,175314.301000,57018.972790,...,8.000000,8.000000,8.000000,8.000000,71.000000,0.0,0.0,16.000000,0.0,0.0

In [41]:
data['src_id'].value_counts()

PL0081    71
PL0099    61
PL0015    35
PL0026    22
PL0003    20
          ..
PL0055     1
PL0054     1
PL0052     1
PL0051     1
PL0138     1
Name: src_id, Length: 134, dtype: int64

# Data Processing

## Filtering

In [42]:
flag_params = ['streak_src_flag' , 'sat_src_flag' , 'pileup_flag' , 'mstr_sat_src_flag' , ]

In [43]:
def correct_bool(arr):
    temp = []
    #print(arr)
    for a in arr:
        #print(a , type(a))
        if(type(a) == bool):
            temp.append(a)
        else:
            if(a==' TRUE' or a=='True' or a=='  NAN'):
                temp.append(True)
            elif(a=='FALSE' or a=='False'):
                temp.append(False)
            else:
                print('something wrong' , a , type(a))
    return temp

In [44]:
def to_float(d):
    temp = []
    for di in d:
        
        try:
            temp.append(float(di))
        except Exception as e:
            print(e)
            print('NaN detected resetting value')
            temp.append(np.NAN)
    temp = np.asarray(temp)
    return temp

In [45]:
data = pd.read_csv('../raw_data/'+src_class+'_'+set_type+'.csv' , index_col=0)
print('Data  Before flag filtering')
display(data.describe()[:1])
for f in flag_params:
    temp_flag = data[f]
    temp_flag = correct_bool(temp_flag)
    data[f] = temp_flag
    #print(temp_flag)
    data = data[data[f]==False]

#display(data)
data = data.dropna(how='all' , axis=1)
data = data.dropna(how='all' , axis=0)
display(data.describe()[:1])

Data  Before flag filtering

,index,sepn,ra,dec,obsid,obi,src_rate_aper_m,src_rate_aper_lolim_m,src_rate_aper_hilim_m,src_cnts_aper_u,...,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u,acis_num,acis_hetg_num,acis_letg_num,hrc_num,hrc_hetg_num,hrc_letg_num
count,529.0,529.0,529.0,529.0,529.0,529.0,520.0,520.0,520.0,487.0,...,429.0,311.0,311.0,311.0,529.0,529.0,529.0,529.0,529.0,529.0

,index,sepn,ra,dec,obsid,obi,src_rate_aper_m,src_rate_aper_lolim_m,src_rate_aper_hilim_m,src_cnts_aper_u,...,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u,acis_num,acis_hetg_num,acis_letg_num,hrc_num,hrc_hetg_num,hrc_letg_num
count,445.0,445.0,445.0,445.0,445.0,445.0,439.0,439.0,439.0,403.0,...,360.0,250.0,250.0,250.0,445.0,445.0,445.0,445.0,445.0,445.0

take average of Band params

In [46]:
band_params = [ 'photflux_aper' ,'photflux_aper_lolim' , 'photflux_aper_hilim' , 'flux_aper' , 'flux_aper_lolim' , 'flux_aper_hilim' , 'var_index' ,'var_prob' , 'ks_prob' , 'kp_prob' ,'var_sigma' ,'var_mean' , 'var_min' ,  'var_max' , 'var_inter_index' , 'var_inter_prob' , 'var_inter_sigma' , 'flux_significance']

filters = ['_b' ,'_h' ,'_m' ,'_u' ,'_s']

combining band parameterd

In [47]:
data_band_mean = pd.DataFrame()
data_band_mean.index.name = 'name'
for param in band_params[:]:
    temp_row = [param+f for f in filters]
    data_temp = data[temp_row][:]

    data_temp_new = pd.DataFrame()
    for j in data_temp:
        data_temp_new.insert( 0 ,j ,to_float(data_temp[j].to_numpy()))
    temp_mean =  data_temp_new.mean(axis=1)
    data_band_mean.insert(0 , param , temp_mean)

display(data_band_mean)
#data_band_mean.to_csv('temp.csv')

,flux_significance,var_inter_sigma,var_inter_prob,var_inter_index,var_max,var_min,var_mean,var_sigma,kp_prob,ks_prob,var_prob,var_index,flux_aper_hilim,flux_aper_lolim,flux_aper,photflux_aper_hilim,photflux_aper_lolim,photflux_aper
name,,,,,,,,,,,,,,,,,,
0,9.3220,NaN,NaN,NaN,0.003489,0.002629,0.002855,0.000193,0.73000,0.662800,0.364000,0.60,2.718020e-14,2.260120e-14,2.489500e-14,0.000008,0.000007,0.000008
1,1.8620,0.000001,0.53925,2.25,0.002498,0.000667,0.001102,0.000503,0.97400,0.777000,0.770000,3.50,1.462640e-14,5.738200e-15,9.728200e-15,0.000009,0.000003,0.000004
2,3.1060,0.000001,0.53925,2.25,0.002105,0.001337,0.001486,0.000174,0.63575,0.548000,0.437250,0.50,8.561800e-15,4.954000e-15,6.320400e-15,0.000008,0.000004,0.000006
3,11.2580,0.000028,0.83320,5.40,0.026997,0.026409,0.026587,0.000201,0.44200,0.378000,0.240400,1.20,2.179300e-13,1.776140e-13,1.979100e-13,0.000119,0.000098,0.000109
4,7.9360,0.000028,0.83320,5.40,0.021393,0.020998,0.021199,0.000184,0.47650,0.616500,0.127000,0.00,6.403660e-13,1.123460e-13,1.254560e-13,0.000174,0.000079,0.000128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,21.0900,0.000003,0.59420,3.00,0.010701,0.010612,0.010662,0.000041,0.60200,0.611250,0.098000,0.00,1.265850e-13,1.176372e-13,1.221210e-13,0.000030,0.000027,0.000028
441,3.4875,NaN,NaN,NaN,0.003472,0.002083,0.002243,0.000251,0.45400,0.376333,0.367667,0.00,1.617175e-14,9.268000e-15,1.279975e-14,0.000009,0.000005,0.000007
442,4.5660,NaN,NaN,NaN,0.002762,0.001816,0.002009,0.000228,0.57800,0.627750,0.445500,0.50,1.658940e-13,2.891580e-14,9.920840e-14,0.000013,0.000005,0.000009
443,5.8660,NaN,NaN,NaN,0.004413,0.002380,0.002609,0.000314,0.61320,0.595200,0.456800,0.40,2.054960e-14,1.481900e-14,1.772640e-14,0.000013,0.000009,0.000011
444,9.0780,NaN,NaN,NaN,0.009754,0.004369,0.007716,0.001820,0.95075,0.949750,0.641750,3.25,9.295600e-14,7.792600e-14,8.495200e-14,0.000034,0.000021,0.000028

Rescaling flux parameters

In [48]:
flux_params = ['photflux_aper' ,'photflux_aper_lolim' , 'photflux_aper_hilim' , 'flux_aper' , 'flux_aper_lolim' , 'flux_aper_hilim' ]
flux_params_model = ['flux_bb' , 'flux_bb_lolim' , 'flux_bb_hilim' , 'flux_brems' , 'flux_brems_hilim' , 'flux_brems_lolim' ,  'flux_powlaw' , 'flux_powlaw_lolim' , 'flux_powlaw_hilim' , ]
flux_params_band = []
for fp in flux_params:
    for f in filters:
        temp = fp+f
        flux_params_band.append(temp)
flux_params_extend = flux_params_band+flux_params

In [49]:
data_band_flux = data[flux_params_band] 
data_model_flux = data[flux_params_model].reset_index(drop=True)
data_band_flux = data_band_flux.reset_index(drop=True)
data_band_flux = data_band_flux.replace(0.0 , np.NAN)

display((data_band_flux))
data_mean_flux = data_band_mean[flux_params].reset_index(drop=True)
display(data_mean_flux)
data_flux = pd.concat([data_model_flux , data_mean_flux , data_band_flux] , axis=1)
data_flux = data_flux.replace(0 , np.nan)
data_flux = data_flux.replace('0' , np.nan)
data_flux = data_flux.replace('0.0' , np.nan)
display(data_flux)
data_flux.to_csv('temp.csv')

,photflux_aper_b,photflux_aper_h,photflux_aper_m,photflux_aper_u,photflux_aper_s,photflux_aper_lolim_b,photflux_aper_lolim_h,photflux_aper_lolim_m,photflux_aper_lolim_u,photflux_aper_lolim_s,...,flux_aper_lolim_b,flux_aper_lolim_h,flux_aper_lolim_m,flux_aper_lolim_u,flux_aper_lolim_s,flux_aper_hilim_b,flux_aper_hilim_h,flux_aper_hilim_m,flux_aper_hilim_u,flux_aper_hilim_s
0,0.000019,5.945000e-06,0.000003,0.000004,0.000005,0.000018,5.301000e-06,2.790000e-06,0.000003,0.000005,...,5.615000e-14,4.021000e-14,6.586000e-15,2.627000e-15,7.433000e-15,6.391000e-14,4.996000e-14,8.393000e-15,4.532000e-15,9.106000e-15
1,0.000012,1.600000e-06,0.000002,NaN,0.000007,0.000009,3.810000e-07,5.852000e-07,NaN,0.000005,...,1.656000e-14,1.676000e-15,1.591000e-15,NaN,8.864000e-15,3.036000e-14,1.240000e-14,6.895000e-15,5.207000e-15,1.827000e-14
2,0.000009,2.786000e-07,0.000001,0.000012,0.000006,0.000007,1.639000e-08,6.220000e-07,0.000005,0.000005,...,1.319000e-14,NaN,1.601000e-15,NaN,9.979000e-15,1.917000e-14,1.723000e-15,3.936000e-15,2.720000e-15,1.526000e-14
3,0.000295,2.955000e-05,0.000066,0.000057,0.000096,0.000280,2.509000e-05,6.075000e-05,0.000036,0.000089,...,4.346000e-13,1.150000e-13,1.500000e-13,3.817000e-14,1.503000e-13,4.874000e-13,1.686000e-13,1.737000e-13,8.525000e-14,1.747000e-13
4,0.000214,2.212000e-05,0.000056,0.000240,0.000106,0.000199,1.799000e-05,5.008000e-05,0.000033,0.000094,...,2.897000e-13,6.422000e-14,9.491000e-14,NaN,1.129000e-13,3.350000e-13,9.873000e-14,1.169000e-13,2.510000e-12,1.412000e-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,0.000082,3.400000e-05,0.000014,0.000003,0.000009,0.000080,3.284000e-05,1.298000e-05,0.000001,0.000009,...,2.919000e-13,2.471000e-13,3.418000e-14,1.926000e-15,1.308000e-14,3.074000e-13,2.646000e-13,3.751000e-14,8.345000e-15,1.507000e-14
441,0.000015,9.424000e-07,0.000004,NaN,0.000009,0.000012,3.344000e-07,2.503000e-06,NaN,0.000006,...,2.009000e-14,1.742000e-15,6.175000e-15,NaN,9.065000e-15,2.970000e-14,8.077000e-15,1.120000e-14,NaN,1.571000e-14
442,0.000016,1.203000e-06,0.000004,0.000016,0.000008,0.000014,7.306000e-07,2.908000e-06,NaN,0.000007,...,3.905000e-14,5.418000e-15,7.491000e-15,7.062000e-14,2.200000e-14,5.061000e-14,1.243000e-14,1.103000e-14,7.239000e-13,3.150000e-14
443,0.000019,1.721000e-06,0.000003,0.000021,0.000011,0.000017,1.185000e-06,1.991000e-06,0.000014,0.000009,...,3.620000e-14,9.372000e-15,4.952000e-15,5.431000e-15,1.814000e-14,4.418000e-14,1.752000e-14,7.498000e-15,1.042000e-14,2.313000e-14
444,0.000062,2.039000e-05,0.000011,0.000031,0.000015,0.000059,1.848000e-05,1.001000e-05,0.000007,0.000013,...,1.972000e-13,1.340000e-13,2.709000e-14,NaN,3.134000e-14,2.232000e-13,1.621000e-13,3.364000e-14,4.990000e-15,4.085000e-14

,photflux_aper,photflux_aper_lolim,photflux_aper_hilim,flux_aper,flux_aper_lolim,flux_aper_hilim
0,0.000008,0.000007,0.000008,2.489500e-14,2.260120e-14,2.718020e-14
1,0.000004,0.000003,0.000009,9.728200e-15,5.738200e-15,1.462640e-14
2,0.000006,0.000004,0.000008,6.320400e-15,4.954000e-15,8.561800e-15
3,0.000109,0.000098,0.000119,1.979100e-13,1.776140e-13,2.179300e-13
4,0.000128,0.000079,0.000174,1.254560e-13,1.123460e-13,6.403660e-13
...,...,...,...,...,...,...
440,0.000028,0.000027,0.000030,1.221210e-13,1.176372e-13,1.265850e-13
441,0.000007,0.000005,0.000009,1.279975e-14,9.268000e-15,1.617175e-14
442,0.000009,0.000005,0.000013,9.920840e-14,2.891580e-14,1.658940e-13
443,0.000011,0.000009,0.000013,1.772640e-14,1.481900e-14,2.054960e-14
444,0.000028,0.000021,0.000034,8.495200e-14,7.792600e-14,9.295600e-14

,flux_bb,flux_bb_lolim,flux_bb_hilim,flux_brems,flux_brems_hilim,flux_brems_lolim,flux_powlaw,flux_powlaw_lolim,flux_powlaw_hilim,photflux_aper,...,flux_aper_lolim_b,flux_aper_lolim_h,flux_aper_lolim_m,flux_aper_lolim_u,flux_aper_lolim_s,flux_aper_hilim_b,flux_aper_hilim_h,flux_aper_hilim_m,flux_aper_hilim_u,flux_aper_hilim_s
0,3.526000e-14,3.160000e-14,3.845000e-14,5.473000e-14,7.163000e-14,3.728000e-14,5.040000e-14,4.670000e-14,5.453000e-14,0.000008,...,5.615000e-14,4.021000e-14,6.586000e-15,2.627000e-15,7.433000e-15,6.391000e-14,4.996000e-14,8.393000e-15,4.532000e-15,9.106000e-15
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000004,...,1.656000e-14,1.676000e-15,1.591000e-15,NaN,8.864000e-15,3.036000e-14,1.240000e-14,6.895000e-15,5.207000e-15,1.827000e-14
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000006,...,1.319000e-14,NaN,1.601000e-15,NaN,9.979000e-15,1.917000e-14,1.723000e-15,3.936000e-15,2.720000e-15,1.526000e-14
3,4.221000e-13,3.949000e-13,4.468000e-13,4.348000e-13,4.635000e-13,4.015000e-13,4.544000e-13,4.280000e-13,4.813000e-13,0.000109,...,4.346000e-13,1.150000e-13,1.500000e-13,3.817000e-14,1.503000e-13,4.874000e-13,1.686000e-13,1.737000e-13,8.525000e-14,1.747000e-13
4,2.778000e-13,2.518000e-13,3.015000e-13,3.049000e-13,3.317000e-13,2.647000e-13,3.068000e-13,2.799000e-13,3.343000e-13,0.000128,...,2.897000e-13,6.422000e-14,9.491000e-14,NaN,1.129000e-13,3.350000e-13,9.873000e-14,1.169000e-13,2.510000e-12,1.412000e-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,2.545000e-13,2.465000e-13,2.622000e-13,2.723000e-13,2.815000e-13,2.626000e-13,2.728000e-13,2.643000e-13,2.805000e-13,0.000028,...,2.919000e-13,2.471000e-13,3.418000e-14,1.926000e-15,1.308000e-14,3.074000e-13,2.646000e-13,3.751000e-14,8.345000e-15,1.507000e-14
441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000007,...,2.009000e-14,1.742000e-15,6.175000e-15,NaN,9.065000e-15,2.970000e-14,8.077000e-15,1.120000e-14,NaN,1.571000e-14
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000009,...,3.905000e-14,5.418000e-15,7.491000e-15,7.062000e-14,2.200000e-14,5.061000e-14,1.243000e-14,1.103000e-14,7.239000e-13,3.150000e-14
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000011,...,3.620000e-14,9.372000e-15,4.952000e-15,5.431000e-15,1.814000e-14,4.418000e-14,1.752000e-14,7.498000e-15,1.042000e-14,2.313000e-14
444,1.379000e-13,1.235000e-13,1.499000e-13,1.782000e-13,1.871000e-13,1.637000e-13,1.748000e-13,1.616000e-13,1.869000e-13,0.000028,...,1.972000e-13,1.340000e-13,2.709000e-14,NaN,3.134000e-14,2.232000e-13,1.621000e-13,3.364000e-14,4.990000e-15,4.085000e-14

In [50]:
data_flux_log = pd.DataFrame()
for f in data_flux:
    temp = data_flux[f]
    temp = np.log10(temp)
#    display(temp)
    data_flux_log.insert(0 , f , temp)

display(data_flux_log)

,flux_aper_hilim_s,flux_aper_hilim_u,flux_aper_hilim_m,flux_aper_hilim_h,flux_aper_hilim_b,flux_aper_lolim_s,flux_aper_lolim_u,flux_aper_lolim_m,flux_aper_lolim_h,flux_aper_lolim_b,...,photflux_aper,flux_powlaw_hilim,flux_powlaw_lolim,flux_powlaw,flux_brems_lolim,flux_brems_hilim,flux_brems,flux_bb_hilim,flux_bb_lolim,flux_bb
0,-14.040672,-14.343710,-14.076083,-13.301378,-13.194431,-14.128836,-14.580540,-14.181378,-13.395666,-13.250650,...,-5.119415,-13.263365,-13.330683,-13.297569,-13.428524,-13.144905,-13.261775,-13.415104,-13.500313,-13.452718
1,-13.738261,-14.283412,-14.161466,-13.906578,-13.517698,-14.052370,NaN,-14.798330,-14.775726,-13.780940,...,-5.347657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-13.816445,-14.565431,-14.404945,-14.763715,-13.717378,-14.000913,NaN,-14.795609,NaN,-13.879755,...,-5.246898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-12.757707,-13.069306,-12.760200,-12.773142,-12.312114,-12.823041,-13.418278,-12.823909,-12.939302,-12.361910,...,-3.963124,-12.317584,-12.368556,-12.342562,-12.396314,-12.333950,-12.361710,-12.349887,-12.403513,-12.374585
4,-12.850165,-11.600326,-12.932185,-13.005551,-12.474955,-12.947306,NaN,-13.022688,-13.192330,-12.538052,...,-3.894177,-12.475864,-12.552997,-12.513145,-12.577246,-12.479255,-12.515843,-12.520713,-12.598944,-12.556268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,-13.821887,-14.078574,-13.425853,-12.577410,-12.512296,-13.883392,-14.715344,-13.466228,-12.607127,-12.534766,...,-4.545829,-12.552067,-12.577903,-12.564156,-12.580705,-12.550522,-12.564952,-12.581367,-12.608183,-12.594312
441,-13.803824,NaN,-13.950782,-14.092750,-13.527244,-14.042632,NaN,-14.209363,-14.758952,-13.697020,...,-5.159449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,-13.501689,-12.140321,-13.957424,-13.905529,-13.295764,-13.657577,-13.151072,-14.125460,-14.266161,-13.408379,...,-5.043985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,-13.635824,-13.982132,-14.125055,-13.756466,-13.354774,-13.741363,-14.265120,-14.305219,-14.028168,-13.441291,...,-4.958742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,-13.388808,-14.301899,-13.473144,-12.790217,-12.651306,-13.503901,NaN,-13.567191,-12.872895,-12.705093,...,-4.554334,-12.728391,-12.791559,-12.757459,-12.785951,-12.727926,-12.749092,-12.824198,-12.908333,-12.860436

In [51]:
var_params = [ 'var_index' ,'var_prob' , 'ks_prob' , 'kp_prob' ,'var_sigma' ,'var_mean' , 'var_min' ,  'var_max' , 'var_inter_index' , 'var_inter_prob' , 'var_inter_sigma']
data_var = data_band_mean[var_params].reset_index(drop=True)
display(data_var)

,var_index,var_prob,ks_prob,kp_prob,var_sigma,var_mean,var_min,var_max,var_inter_index,var_inter_prob,var_inter_sigma
0,0.60,0.364000,0.662800,0.73000,0.000193,0.002855,0.002629,0.003489,NaN,NaN,NaN
1,3.50,0.770000,0.777000,0.97400,0.000503,0.001102,0.000667,0.002498,2.25,0.53925,0.000001
2,0.50,0.437250,0.548000,0.63575,0.000174,0.001486,0.001337,0.002105,2.25,0.53925,0.000001
3,1.20,0.240400,0.378000,0.44200,0.000201,0.026587,0.026409,0.026997,5.40,0.83320,0.000028
4,0.00,0.127000,0.616500,0.47650,0.000184,0.021199,0.020998,0.021393,5.40,0.83320,0.000028
...,...,...,...,...,...,...,...,...,...,...,...
440,0.00,0.098000,0.611250,0.60200,0.000041,0.010662,0.010612,0.010701,3.00,0.59420,0.000003
441,0.00,0.367667,0.376333,0.45400,0.000251,0.002243,0.002083,0.003472,NaN,NaN,NaN
442,0.50,0.445500,0.627750,0.57800,0.000228,0.002009,0.001816,0.002762,NaN,NaN,NaN
443,0.40,0.456800,0.595200,0.61320,0.000314,0.002609,0.002380,0.004413,NaN,NaN,NaN
444,3.25,0.641750,0.949750,0.95075,0.001820,0.007716,0.004369,0.009754,NaN,NaN,NaN

In [52]:
single_params = [ 'flux_powlaw'  , 'powlaw_gamma' , 'powlaw_nh' ,  'powlaw_ampl' ,  'powlaw_stat' , 'bb_kt' , 'bb_nh' ,  'bb_ampl' ,  'bb_stat'  , 'brems_kt' , 'brems_nh' ,'brems_stat' ,]

hard_params = ['hard_hm' ,'hard_hm_hilim' ,'hard_hm_lolim' ,  'hard_hs' , 'hard_ms' ,'hard_hs_hilim' ,'hard_hs_lolim' ,'hard_ms_hilim' ,'hard_ms_lolim',]

model_fit_params = [ 'powlaw_gamma' , 'powlaw_gamma_hilim' , 'powlaw_gamma_lolim' ,'powlaw_nh' , 'powlaw_nh_hilim' , 'powlaw_nh_lolim' ,  'powlaw_ampl' ,  'powlaw_ampl_hilim' , 'powlaw_ampl_lolim' , 'powlaw_stat' , 'bb_kt' ,'bb_kt_hilim' , 'bb_kt_lolim' , 'bb_nh_hilim' , 'bb_nh_lolim' , 'bb_nh' ,  'bb_ampl' ,'bb_ampl_lolim' ,'bb_ampl_hilim' ,   'bb_stat' ,  'brems_kt' , 'brems_kt_hilim' ,'brems_kt_lolim' , 'brems_nh' , 'brems_nh_hilim' ,'brems_nh_lolim' ,'brems_stat' ,]

obs_info_params = [ 'livetime','significance','likelihood','pileup_flag','mstr_sat_src_flag','mstr_streak_src_flag'   ,'gti_obs' , 'flux_significance_b'  , 'flux_significance_m' , 'flux_significance_s' , 'flux_significance_h' , 'flux_significance_u'    ]

single_params_lim = [ ]

In [53]:
data_rest = data[hard_params+model_fit_params].reset_index(drop=True)
display(data_rest)

,hard_hm,hard_hm_hilim,hard_hm_lolim,hard_hs,hard_ms,hard_hs_hilim,hard_hs_lolim,hard_ms_hilim,hard_ms_lolim,powlaw_gamma,...,bb_ampl_lolim,bb_ampl_hilim,bb_stat,brems_kt,brems_kt_hilim,brems_kt_lolim,brems_nh,brems_nh_hilim,brems_nh_lolim,brems_stat
0,0.3036,0.3754,0.2305,0.0500,-0.2586,0.1218,-0.0244,-0.1843,-0.3292,1.257,...,0.000013,0.000018,3.025,95.300,4544.000,20.0500,0.661800,5.112,NaN,0.936
1,0.0862,0.4691,-0.3467,-0.6296,-0.6533,-0.3804,-0.8351,-0.4354,-0.8264,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.5884,-0.2592,-0.8501,-0.9157,-0.7021,-0.8301,-0.9813,-0.5778,-0.8076,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.3773,-0.3079,-0.4478,-0.5309,-0.1911,-0.4716,-0.5890,-0.1405,-0.2405,3.601,...,0.001500,0.002073,0.754,1.100,1.248,0.9673,24.670000,29.310,20.46,0.581
4,-0.4272,-0.3404,-0.5128,-0.6546,-0.3123,-0.5903,-0.7139,-0.2442,-0.3779,3.926,...,0.001544,0.002336,1.096,1.024,1.212,0.8557,18.760000,26.500,11.96,0.618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,0.4272,0.4503,0.4054,0.5684,0.1861,0.5953,0.5428,0.2255,0.1455,1.220,...,0.000020,0.000022,1.532,100.000,NaN,57.2400,36.040000,39.140,33.50,1.102
441,-0.5734,-0.3417,-0.7764,-0.8107,-0.4310,-0.6777,-0.9126,-0.2642,-0.5778,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,-0.5009,-0.3404,-0.6577,-0.7495,-0.3948,-0.6502,-0.8389,-0.2817,-0.4953,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,-0.1849,-0.0119,-0.3579,-0.7270,-0.6234,-0.6465,-0.8001,-0.5465,-0.6927,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,0.2936,0.3567,0.2267,0.1587,-0.1424,0.2367,0.0818,-0.0581,-0.2217,1.252,...,0.000029,0.000040,3.121,68.910,569.600,21.8400,0.000045,5.508,NaN,1.394

In [54]:
data_obs_info = data[obs_info_params].reset_index(drop=True)
display(data_obs_info)

,livetime,significance,likelihood,pileup_flag,mstr_sat_src_flag,mstr_streak_src_flag,gti_obs,flux_significance_b,flux_significance_m,flux_significance_s,flux_significance_h,flux_significance_u
0,49484.3,15.50,755.1790,False,False,False,2003-04-13T10:26:27,15.50,8.29,9.89,9.23,3.70
1,3903.9,6.39,409.5469,False,False,False,2011-08-29T04:49:28,3.49,1.60,2.91,1.31,0.00
2,12791.8,6.39,409.5469,False,False,False,2011-11-28T00:50:56,5.41,2.40,4.78,1.10,1.84
3,8372.1,65.51,39513.4200,False,False,False,2000-04-30T08:38:20,19.75,13.62,13.39,6.83,2.70
4,7165.7,65.51,39513.4200,False,False,False,2005-01-12T12:16:01,14.52,9.69,8.93,5.35,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...
440,93964.6,43.76,10080.5600,False,False,False,2002-03-15T12:44:29,38.91,21.54,14.16,29.20,1.64
441,9832.3,5.21,136.1509,False,False,False,2012-04-21T10:12:11,5.21,3.43,3.76,1.55,NaN
442,19930.0,8.23,425.7239,False,False,False,2009-08-30T03:18:52,8.23,5.33,5.72,2.55,1.00
443,19799.7,10.40,690.7692,False,False,False,2011-08-15T11:03:01,10.40,4.74,7.86,3.21,3.12
444,20871.4,16.48,1842.5340,False,False,False,2009-10-13T13:28:40,16.48,9.33,7.59,10.67,1.32

In [55]:
data_identify = data[['src_n' , 'src_id']].reset_index(drop=True)
print(data_identify)

              src_n  src_id
0    PSR J0007+7303  PL0001
1    PSR J0023+0923  PL0002
2    PSR J0023+0923  PL0002
3    PSR J0100-7211  PL0003
4    PSR J0100-7211  PL0003
..              ...     ...
440  PSR J2229+6114  PL0133
441  PSR J2238+5903  PL0134
442  PSR J2241-5236  PL0135
443  PSR J2256-1024  PL0136
444  PSR J2339-0533  PL0138

[445 rows x 2 columns]

In [56]:
data_combined = pd.concat([data_identify , data_obs_info , data_flux_log , data_var , data_rest] , axis=1)
obs_id = [src_class+'_OBS_'+str(i) for i in range(len(data_combined))]
data_combined.insert( 0 , 'obs_id' , obs_id)

data_combined.insert( 1 , 'class' , [src_class]*len(data_combined))
data_combined = data_combined.reset_index(drop=True)
data_combined.index.name = 'index'
display(data_combined)
data_combined.to_csv('../processed_data/'+src_class+'_.csv')

,obs_id,class,src_n,src_id,livetime,significance,likelihood,pileup_flag,mstr_sat_src_flag,mstr_streak_src_flag,...,bb_ampl_lolim,bb_ampl_hilim,bb_stat,brems_kt,brems_kt_hilim,brems_kt_lolim,brems_nh,brems_nh_hilim,brems_nh_lolim,brems_stat
index,,,,,,,,,,,,,,,,,,,,,
0,PULSAR_OBS_0,PULSAR,PSR J0007+7303,PL0001,49484.3,15.50,755.1790,False,False,False,...,0.000013,0.000018,3.025,95.300,4544.000,20.0500,0.661800,5.112,NaN,0.936
1,PULSAR_OBS_1,PULSAR,PSR J0023+0923,PL0002,3903.9,6.39,409.5469,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PULSAR_OBS_2,PULSAR,PSR J0023+0923,PL0002,12791.8,6.39,409.5469,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PULSAR_OBS_3,PULSAR,PSR J0100-7211,PL0003,8372.1,65.51,39513.4200,False,False,False,...,0.001500,0.002073,0.754,1.100,1.248,0.9673,24.670000,29.310,20.46,0.581
4,PULSAR_OBS_4,PULSAR,PSR J0100-7211,PL0003,7165.7,65.51,39513.4200,False,False,False,...,0.001544,0.002336,1.096,1.024,1.212,0.8557,18.760000,26.500,11.96,0.618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,PULSAR_OBS_440,PULSAR,PSR J2229+6114,PL0133,93964.6,43.76,10080.5600,False,False,False,...,0.000020,0.000022,1.532,100.000,NaN,57.2400,36.040000,39.140,33.50,1.102
441,PULSAR_OBS_441,PULSAR,PSR J2238+5903,PL0134,9832.3,5.21,136.1509,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,PULSAR_OBS_442,PULSAR,PSR J2241-5236,PL0135,19930.0,8.23,425.7239,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,PULSAR_OBS_443,PULSAR,PSR J2256-1024,PL0136,19799.7,10.40,690.7692,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,PULSAR_OBS_444,PULSAR,PSR J2339-0533,PL0138,20871.4,16.48,1842.5340,False,False,False,...,0.000029,0.000040,3.121,68.910,569.600,21.8400,0.000045,5.508,NaN,1.394